[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/magic_enum"]
	path = lib/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "inputs"]
	path = inputs
	url = https://github.com/julian-go/aoc_inputs.git
	branch = main
